In [5]:
#Import libraries
import numpy as np
import pandas as pd
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize'] = 10, 8

from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

from sklearn.datasets import load_boston
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
#from scipy.interpolate import spline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.kernel_ridge import KernelRidge

In [6]:
boston_data = load_boston()

In [8]:
boston_df = pd.DataFrame(boston_data.data, columns=boston_data.feature_names)

In [9]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
boston_df['Price'] = boston_data.target

In [11]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [12]:
boston_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Price      0
dtype: int64

In [14]:
boston_df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Price      0
dtype: int64

In [15]:
boston_x = boston_df[boston_df.columns[0:13]]
boston_y = boston_df[boston_df.columns[13:14]]

In [16]:
boston_x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [17]:
boston_y

     Price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [20]:
corr_features = ['NOX', 'DIS', 'TAX']

In [21]:
boston_x = boston_x.drop(corr_features, axis=1)

In [22]:
boston_x.head()

      CRIM    ZN  INDUS  CHAS     RM   AGE  RAD  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  6.575  65.2  1.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  6.421  78.9  2.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  7.185  61.1  2.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  6.998  45.8  3.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  7.147  54.2  3.0     18.7  396.90   5.33

In [23]:
x_train, x_test, y_train, y_test = train_test_split(boston_x, boston_y, test_size=0.20)

In [25]:
x_train

        CRIM    ZN  INDUS  CHAS     RM   AGE   RAD  PTRATIO       B  LSTAT
28   0.77299   0.0   8.14   0.0  6.495  94.4   4.0     21.0  387.94  12.80
489  0.18337   0.0  27.74   0.0  5.414  98.3   4.0     20.1  344.05  23.97
249  0.19073  22.0   5.86   0.0  6.718  17.5   7.0     19.1  393.74   6.56
63   0.12650  25.0   5.13   0.0  6.762  43.4   8.0     19.7  395.58   9.50
123  0.15038   0.0  25.65   0.0  5.856  97.0   2.0     19.1  370.31  25.41
..       ...   ...    ...   ...    ...   ...   ...      ...     ...    ...
466  3.77498   0.0  18.10   0.0  5.952  84.7  24.0     20.2   22.01  17.15
176  0.07022   0.0   4.05   0.0  6.020  47.2   5.0     16.6  393.23  10.11
133  0.32982   0.0  21.89   0.0  5.822  95.4   4.0     21.2  388.69  15.03
73   0.19539   0.0  10.81   0.0  6.245   6.2   4.0     19.2  377.17   7.54
1    0.02731   0.0   7.07   0.0  6.421  78.9   2.0     17.8  396.90   9.14

[404 rows x 10 columns]

In [24]:
l_regression = LinearRegression()

In [26]:
l_regression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
pred = l_regression.predict(x_test)

In [30]:
pred[12]

array([19.82638376])

In [33]:
y_test.iloc[12]

Price    16.1
Name: 452, dtype: float64

In [34]:
mean_squared_error(y_test, pred)

25.350528323325545

In [35]:
r2_score(y_test, pred)

0.6668507987535501

In [36]:
y_test['Pred'] = pred

<ipython-input-36-659c6a3e81d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Pred'] = pred

In [38]:
y_test['Diff'] = abs(y_test['Pred'] - y_test['Price'])

<ipython-input-38-2b7d67771265>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Diff'] = abs(y_test['Pred'] - y_test['Price'])

In [39]:
y_test

     Price       Pred      Diff
220   26.7  31.767538  5.067538
376   13.9  17.620769  3.720769
170   17.4  21.903194  4.503194
142   13.4  17.337626  3.937626
86    22.5  21.347070  1.152930
..     ...        ...       ...
458   14.9  18.807099  3.907099
469   20.1  17.677808  2.422192
341   32.7  33.582051  0.882051
131   19.6  19.853534  0.253534
103   19.3  19.618481  0.318481

[102 rows x 3 columns]